/* artist page */
.card {
	padding-top:20px;
}
p.card-text.text-center {
	background: lightgray;
	padding-top:10px;
	padding-bottom:10px;
}
.a1 {
	background: pink;
}
.a2 {
	background: orange;
}

.a3 {
	background: yellow;
}
.a4 {
	background: green;
	padding-top:20px;
}
.a5 {
	background: blue;
	padding-top:20px;
}
.a6 {
	background: purple;
	padding-top:20px;
}
/*artist spotlight*/
/*.spotlight {
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom:
}
*/
.footer {
	padding-top:20px;
}